@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.container{
    position: relative;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: "title" "box";
    grid-template-columns: 100%;
    grid-template-rows: 14em auto;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 400;

    background: linear-gradient(120deg, #78bce1 20%, #e065e5 60%);
    background-repeat: no-repeat;
}

.title{
    grid-area: title;
    align-self: end;
    justify-self: center;
    font-style: normal;
    font-size: 96px;
    font-weight: 400;
    font-weight: Regular;
    color: #FFFFFF;
    margin: 30px;
}

.box-container{
    justify-self: center;
    align-self: start;
    grid-area: box;
    width: 925.76px;
    height: 628.76px;

    background-color: #FCE2E2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;

    display: grid;
    grid-template-areas: "information configurations";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.box-container>div{
    padding: 50px 50px;
}

.box-container>div>*{
    margin: 0;
}

.information{
    grid-area: information;
    display: grid;

}

.subtitle{
    font-size: 32px;
    font-weight: 400;
}

.information>p{
    text-align: justify;
}

.buttons{
    align-self: end;
    display: flex;
    width: 100%;
    align-items: center;
}

.configurations{

    border-left: solid 2px;
    grid-area: configurations;
    /* align-self: start; */
    /* display: grid; */
    /* grid-template-areas: "options" "start"; */
    /* grid-template-rows: 70% 30%; */
    /* grid-template-columns: auto; */
    /* width: 100%; */
    /* height: 100%; */
}

.options{
    /* background-color: yellow; */
    /* grid-area: options; */
    /* align-self: start; */
    font-size: 20px;
    /* display: grid; */
    /* justify-content: space-between; */
    /* display: grid; */
    /* grid-template-areas: "window_capture" "template_matching" "threshold"; */
    /* grid-template-rows: auto; */
    /* grid-template-columns: auto; */
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: yellow; */

}

.window_capture{
    grid-area: window_capture;
    padding: 0.5em 0;
}

.select_box{
    background-color: #FFFFFF;
    width: 90%; 
    height: 33px; 
    border: 1px solid #000000; 
    border-radius: 8px;
}

.template_matching{
    grid-area: template_matching;
    padding: 0.5em 0;
}

.threshold{
    grid-area: threshold;
    padding: 0.5em 0;
}

.slidecontainer {
    width: 100%;
    display: grid;
    grid-template-areas: "slider range_value";
    grid-template-rows: auto;
    grid-template-columns: 70% 30%;
}

/* The slider itself
.slider {
    grid-area: slider;
    -webkit-appearance: none;
    width: 100%;
    height: 14px;
    border-radius: 10px;  
    background-position: 29px red;
    background: #C4C4C4;
    background: linear-gradient(120deg, #52C2FD 0.70%, rgba(215, 55, 220, 0.57) 60%);
    background-repeat: no-repeat;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /* background: #C4C4C4 no-repeat left top; */
    /* background-size:0 14px; */
/* } */

/* Mouse-over effects */
/* .slider:hover { */
    /* opacity: 1; Fully shown on mouse-over */
/* } */

/* .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #FFFFFF;
    border: 1px solid #1CADFF;
    cursor: pointer;
    box-shadow: -200px 0 0 200px dodgerblue;
} */

/*.slider::-webkit-scrollbar-track{ 
    background: dodgerblue;
} */

/* === range theme and appearance === */
.slider {
    font-size: 1.5rem;
    width: 11em;
}

.slider {
    color: #6dd3ff;
    --thumb-height: 0.8em;
    --track-height: 0.5em;
    --track-color: rgba(0, 0, 0, 0.2);
    --brightness-hover: 180%;
    --brightness-down: 80%;
    --clip-edges: 0.125em;
}


@media (prefers-color-scheme: dark) {
    html {
        background-color: #000;
    }

    html::before {
        background: radial-gradient(circle at center, #101112, #000);
    }

    .slider {
        color: #6dd3ff;
        --track-color: rgba(255, 255, 255, 0.1);
    }
}

/* === range commons === */
.slider {
    position: relative;
    background: #fff0;
    overflow: hidden;
    align-self: center;
    border-radius: 15px;
}

.slider:active {
    cursor: grabbing;
}

.slider:disabled {
    filter: grayscale(1);
    opacity: 0.3;
    cursor: not-allowed;
}

/* === WebKit specific styles === */
.slider,
.slider::-webkit-slider-runnable-track,
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
}

.slider::-webkit-slider-runnable-track,
.slider::-webkit-slider-thumb {
    position: relative;
}

.slider::-webkit-slider-thumb {
    --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
    --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
    --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
    --clip-further: calc(100% + 1px);
    --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
        100vmax #6dd3ff;

    width: var(--thumb-width, var(--thumb-height));
    background: linear-gradient(white 0) scroll no-repeat left center /
        50% calc(var(--track-height) + 1px);
    background-color: white;
    border: 1px solid #6dd3ff;
    box-shadow: var(--box-fill);
    border-radius: var(--thumb-width, var(--thumb-height));

    filter: brightness(100%);
    clip-path: polygon(
        100% -1px,
        var(--clip-edges) -1px,
        0 var(--clip-top),
        -100vmax var(--clip-top),
        -100vmax var(--clip-bottom),
        0 var(--clip-bottom),
        var(--clip-edges) 100%,
        var(--clip-further) var(--clip-further)
    );
}

.slider:hover::-webkit-slider-thumb {
    filter: brightness(var(--brightness-hover));
    cursor: grab;
}

.slider:active::-webkit-slider-thumb {
    filter: brightness(var(--brightness-down));
    cursor: grabbing;
}

.slider::-webkit-slider-runnable-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
        100% calc(var(--track-height) + 1px);
}

.slider:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
}




.range_value{
    grid-area: range_value;
    width: 22px;
    height: 22px;
    justify-self: center;
    align-self: center;
    border-radius: 20%;
    border: 1px solid black;
    text-align: center;
}

.start{
    /* background-color: red; */
    display: flex;
    width: 100%;
    justify-content: center;
    /* align-content: center; */
    /* align-self: center; */
    /* align-items: center; */
    /* justify-items: center; */
    padding: 4em 0em;
    /* margin: auto; */
}

.start>button{
    /* background-color: #000000; */
    background-color: #04AA6D;
    background: radial-gradient(48.44% 395.41% at 48.44% 58.93%, rgba(11, 175, 245, 0.71) 0%, rgba(0, 247, 255, 0.73) 100%);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    width: 139px;
    height: 44px;
    font-size: 24px;
    color: #FFFFFF;
}
