<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>D&T</title>
    </head>
    <body>
        <div class="container" id="gamesApp">
            <div class="title">
                {{appName}}
            </div>
            <div class="box-container">
                <div class="information">
                    <h3 class="subtitle">Information</h3>
                    <p>{{abstract}}</p>

                    <links-url></links-url>
                </div>
                <div class="configurations">
                    <h3 class="subtitle">Configurations</h3>
                    <form action="#">
                        <div class="options">
                            <div class="window_capture">
                                <p>Window Capture <img style="width:20px; height:20px; " src="icons/question.png"></p>
                
                                <select v-model="selectedwindow" @click="windos" class="select_box" name="window" id="window">
                                    <option value="">Entire Screen</option>
                                    <option v-for="w in windows">{{w}}</option>
                                </select>
                            </div>
                
                            <div class="template_matching">
                                <p>Template Matching <img style="width:20px; height:20px; " src="icons/question.png"></p>
                                <input type="file" id="myFile" name="filename">
                            </div>
                
                            <div class="threshod">
                                <p>threshold <img style="width:20px; height:20px; " src="icons/question.png"></p>
                                <div class="slidecontainer">
                                    <input v-model="sense" type="range" min="1" max="100" value="65" class="slider" id="range">
                
                                    <input type="text" class="range_value" name="value" v-model="sense">
                                </div>
                            </div>
                
                        </div>
                        <div class="start">
                            <button @click="start">START</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scripts/gamesApp.js"></script>
    <!-- <script src="scripts/script.js"></script> -->
    </body>
</html>